VITE_VAPID_PUBLIC_KEY=BKT1ZB7Mhnw0JtUI73xwb_bKSWsMRIHc_n13mkg3IyaXMpjTgaXIUFiJLyLAx9yCJ-5CGtBmiHpo0xAMW-yKuos
VAPID_PRIVATE_KEY=H4jOT-_i-T03-RoplS0-baSFxSrJRj02ibavGqxC3eQ
VAPID_EMAIL=mailto:vijayninama683@gmail.com
